In [101]:
import pandas as pd
import numpy as np

In [102]:
data = pd.read_csv('Data.csv')

data.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Brazil,BRA,"Population, total",SP.POP.TOTL,150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
1,Brazil,BRA,Population growth (annual %),SP.POP.GROW,1.80985576444804,1.36677132973907,0.868346150167205,0.857834828724811,0.845992601345206,0.8112564782781,0.79226340042227,0.793768153848091,0.766107802084815,0.665176682246802,0.528590452919416,0.459583548488331
2,Brazil,BRA,Surface area (sq. km),AG.SRF.TOTL.K2,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,..,..
3,Brazil,BRA,Population density (people per sq. km of land ...,EN.POP.DNST,18.0310985458487,21.0422079553585,24.1347676636189,24.3426946665167,24.5495056316357,24.7494751224555,24.9463349501205,25.1451389902538,25.3385176606278,25.5076253807665,..,..
4,Brazil,BRA,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,..,..,..,..,..,..,..,..,..,..,..,..

In [103]:
columns = data.columns
print(columns)

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1990 [YR1990]', '2000 [YR2000]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]'],
      dtype='object')

In [104]:
columns_drop = ['Country Name', 'Country Code', 'Series Code']
data = data.drop(columns_drop, axis=1)
data.head()

,Series Name,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
1,Population growth (annual %),1.80985576444804,1.36677132973907,0.868346150167205,0.857834828724811,0.845992601345206,0.8112564782781,0.79226340042227,0.793768153848091,0.766107802084815,0.665176682246802,0.528590452919416,0.459583548488331
2,Surface area (sq. km),8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,..,..
3,Population density (people per sq. km of land ...,18.0310985458487,21.0422079553585,24.1347676636189,24.3426946665167,24.5495056316357,24.7494751224555,24.9463349501205,25.1451389902538,25.3385176606278,25.5076253807665,..,..
4,Poverty headcount ratio at national poverty li...,..,..,..,..,..,..,..,..,..,..,..,..

In [105]:
data = data.replace('..', np.nan)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    55 non-null     object
 1   1990 [YR1990]  40 non-null     object
 2   2000 [YR2000]  39 non-null     object
 3   2013 [YR2013]  50 non-null     object
 4   2014 [YR2014]  49 non-null     object
 5   2015 [YR2015]  47 non-null     object
 6   2016 [YR2016]  48 non-null     object
 7   2017 [YR2017]  48 non-null     object
 8   2018 [YR2018]  48 non-null     object
 9   2019 [YR2019]  49 non-null     object
 10  2020 [YR2020]  46 non-null     object
 11  2021 [YR2021]  36 non-null     object
 12  2022 [YR2022]  19 non-null     object
dtypes: object(13)
memory usage: 6.2+ KB

In [106]:
data.head()

,Series Name,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
1,Population growth (annual %),1.80985576444804,1.36677132973907,0.868346150167205,0.857834828724811,0.845992601345206,0.8112564782781,0.79226340042227,0.793768153848091,0.766107802084815,0.665176682246802,0.528590452919416,0.459583548488331
2,Surface area (sq. km),8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,NaN,NaN
3,Population density (people per sq. km of land ...,18.0310985458487,21.0422079553585,24.1347676636189,24.3426946665167,24.5495056316357,24.7494751224555,24.9463349501205,25.1451389902538,25.3385176606278,25.5076253807665,NaN,NaN
4,Poverty headcount ratio at national poverty li...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
data = data.dropna(subset=data.columns[1:] ,axis=0, how='all')
data.head()

,Series Name,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
1,Population growth (annual %),1.80985576444804,1.36677132973907,0.868346150167205,0.857834828724811,0.845992601345206,0.8112564782781,0.79226340042227,0.793768153848091,0.766107802084815,0.665176682246802,0.528590452919416,0.459583548488331
2,Surface area (sq. km),8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,NaN,NaN
3,Population density (people per sq. km of land ...,18.0310985458487,21.0422079553585,24.1347676636189,24.3426946665167,24.5495056316357,24.7494751224555,24.9463349501205,25.1451389902538,25.3385176606278,25.5076253807665,NaN,NaN
5,Poverty headcount ratio at $2.15 a day (2017 P...,24,NaN,3.7,3.3,3.9,4.7,5.3,5.3,5.4,1.9,5.8,NaN

In [108]:
df = data.transpose()
df.head()

,0,1,2,3,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
Series Name,"Population, total",Population growth (annual %),Surface area (sq. km),Population density (people per sq. km of land ...,Poverty headcount ratio at $2.15 a day (2017 P...,"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)",Income share held by lowest 20%,...,High-technology exports (% of manufactured exp...,Statistical Capacity Score (Overall Average) (...,Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),"External debt stocks, total (DOD, current US$)","Total debt service (% of exports of goods, ser...",Net migration,"Personal remittances, received (current US$)","Foreign direct investment, net inflows (BoP, c...",Net official development assistance and offici...
1990 [YR1990],150706446,1.80985576444804,8515770,18.0310985458487,24,389692224212.687,2590,970854098978.388,6440,2.3,...,NaN,NaN,11.5994117314118,66.44295302,120311895094.7,22.6383320676081,6457,573000000,989000000,174380004.882813
2000 [YR2000],175873720,1.36677132973907,8515770,21.0422079553585,NaN,687477614140.252,3910,1536381998062.15,8740,NaN,...,NaN,NaN,17.3563680608244,100,242511685521.8,86.1821613930119,-1761,1349591000,32994718699.75,255679992.675781
2013 [YR2013],201721767,0.868346150167205,8515770,24.1347676636189,3.7,2571101638578.34,12750,3090347659210.83,15320,3.5,...,11.9697168242237,75.5555555555556,19.6062036475279,125.7597432,483734834011.9,28.0385332599247,35308,2717675068.66,75211029129.4,1155729980.46875
2014 [YR2014],203459650,0.857834828724811,8515770,24.3426946665167,3.3,2457007472638.13,12080,3127764536961.12,15370,3.6,...,12.3710552617293,75.5555555555556,18.7979549216251,121.4837064,556919631071.7,22.9117035902146,24940,2647908513.04,87713983217.24,914150024.414063

In [109]:
range_years = ['Years', 1990, 2000]

for year in range(2013,2023):
    range_years.append(int(year))

years = range_years

df.insert(0, '-1', years)

df.head()

,-1,0,1,2,3,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
Series Name,Years,"Population, total",Population growth (annual %),Surface area (sq. km),Population density (people per sq. km of land ...,Poverty headcount ratio at $2.15 a day (2017 P...,"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)",...,High-technology exports (% of manufactured exp...,Statistical Capacity Score (Overall Average) (...,Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),"External debt stocks, total (DOD, current US$)","Total debt service (% of exports of goods, ser...",Net migration,"Personal remittances, received (current US$)","Foreign direct investment, net inflows (BoP, c...",Net official development assistance and offici...
1990 [YR1990],1990,150706446,1.80985576444804,8515770,18.0310985458487,24,389692224212.687,2590,970854098978.388,6440,...,NaN,NaN,11.5994117314118,66.44295302,120311895094.7,22.6383320676081,6457,573000000,989000000,174380004.882813
2000 [YR2000],2000,175873720,1.36677132973907,8515770,21.0422079553585,NaN,687477614140.252,3910,1536381998062.15,8740,...,NaN,NaN,17.3563680608244,100,242511685521.8,86.1821613930119,-1761,1349591000,32994718699.75,255679992.675781
2013 [YR2013],2013,201721767,0.868346150167205,8515770,24.1347676636189,3.7,2571101638578.34,12750,3090347659210.83,15320,...,11.9697168242237,75.5555555555556,19.6062036475279,125.7597432,483734834011.9,28.0385332599247,35308,2717675068.66,75211029129.4,1155729980.46875
2014 [YR2014],2014,203459650,0.857834828724811,8515770,24.3426946665167,3.3,2457007472638.13,12080,3127764536961.12,15370,...,12.3710552617293,75.5555555555556,18.7979549216251,121.4837064,556919631071.7,22.9117035902146,24940,2647908513.04,87713983217.24,914150024.414063

In [110]:
df.reset_index(drop=True, inplace=True)
df.head()

,-1,0,1,2,3,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Years,"Population, total",Population growth (annual %),Surface area (sq. km),Population density (people per sq. km of land ...,Poverty headcount ratio at $2.15 a day (2017 P...,"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)",...,High-technology exports (% of manufactured exp...,Statistical Capacity Score (Overall Average) (...,Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),"External debt stocks, total (DOD, current US$)","Total debt service (% of exports of goods, ser...",Net migration,"Personal remittances, received (current US$)","Foreign direct investment, net inflows (BoP, c...",Net official development assistance and offici...
1,1990,150706446,1.80985576444804,8515770,18.0310985458487,24,389692224212.687,2590,970854098978.388,6440,...,NaN,NaN,11.5994117314118,66.44295302,120311895094.7,22.6383320676081,6457,573000000,989000000,174380004.882813
2,2000,175873720,1.36677132973907,8515770,21.0422079553585,NaN,687477614140.252,3910,1536381998062.15,8740,...,NaN,NaN,17.3563680608244,100,242511685521.8,86.1821613930119,-1761,1349591000,32994718699.75,255679992.675781
3,2013,201721767,0.868346150167205,8515770,24.1347676636189,3.7,2571101638578.34,12750,3090347659210.83,15320,...,11.9697168242237,75.5555555555556,19.6062036475279,125.7597432,483734834011.9,28.0385332599247,35308,2717675068.66,75211029129.4,1155729980.46875
4,2014,203459650,0.857834828724811,8515770,24.3426946665167,3.3,2457007472638.13,12080,3127764536961.12,15370,...,12.3710552617293,75.5555555555556,18.7979549216251,121.4837064,556919631071.7,22.9117035902146,24940,2647908513.04,87713983217.24,914150024.414063

In [111]:
header = [num for num in range(len(df.columns))]

df.columns = header

df.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,Years,"Population, total",Population growth (annual %),Surface area (sq. km),Population density (people per sq. km of land ...,Poverty headcount ratio at $2.15 a day (2017 P...,"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)",...,High-technology exports (% of manufactured exp...,Statistical Capacity Score (Overall Average) (...,Merchandise trade (% of GDP),Net barter terms of trade index (2000 = 100),"External debt stocks, total (DOD, current US$)","Total debt service (% of exports of goods, ser...",Net migration,"Personal remittances, received (current US$)","Foreign direct investment, net inflows (BoP, c...",Net official development assistance and offici...
1,1990,150706446,1.80985576444804,8515770,18.0310985458487,24,389692224212.687,2590,970854098978.388,6440,...,NaN,NaN,11.5994117314118,66.44295302,120311895094.7,22.6383320676081,6457,573000000,989000000,174380004.882813
2,2000,175873720,1.36677132973907,8515770,21.0422079553585,NaN,687477614140.252,3910,1536381998062.15,8740,...,NaN,NaN,17.3563680608244,100,242511685521.8,86.1821613930119,-1761,1349591000,32994718699.75,255679992.675781
3,2013,201721767,0.868346150167205,8515770,24.1347676636189,3.7,2571101638578.34,12750,3090347659210.83,15320,...,11.9697168242237,75.5555555555556,19.6062036475279,125.7597432,483734834011.9,28.0385332599247,35308,2717675068.66,75211029129.4,1155729980.46875
4,2014,203459650,0.857834828724811,8515770,24.3426946665167,3.3,2457007472638.13,12080,3127764536961.12,15370,...,12.3710552617293,75.5555555555556,18.7979549216251,121.4837064,556919631071.7,22.9117035902146,24940,2647908513.04,87713983217.24,914150024.414063

In [112]:
df.to_csv('Data_Wrangled.csv')